# Here you have an example of how you can declare your environment variables

# ********* If you want to use MongoDB Local 
# DATABASE_URL=mongodb://localhost:27017/Your_Database_Name

# ********* If you want to use MongoDB Atlas
# ****** Replace <username>, <password>, and <cluster-url> with your MongoDB Atlas credentials and cluster URL.
# DATABASE_URL=mongodb+srv://<username>:<password>@<cluster-url>/Your_DataBase_Name?retryWrites=true&w=majority

# NextAuth Configuration
**Note:** Ensure you set the following environment variables before running the project to avoid terminal errors, even if the project runs.

```plaintext
# NEXTAUTH_SECRET=your_nextauth_secret
# NEXTAUTH_URL=http://localhost:3000
